.contact {
	margin: 0 0 14px;
	&-list {
		position: relative;
		margin-top: -8px;
		margin-right: -19px;
		display:inline-block;
		vertical-align:top;
		text-align: left;
		&-opener {
			font-family: 'CenturyGothic', Arial, sans-serif;
			font-size: 18px;
			line-height: 1.2;
			padding: 10px 27px 10px 36px;
			position: relative;
			display: block;
			color: #fff;
			text-decoration: none;
			&:before {
				font-family: 'icomoon';
				font-size: 16px;
				line-height: 1;
				position:absolute;
				top:48%;
				left: 5px;
				color: #c1af8b;
				transform: translate(0, -50%);
				content: "\e904";
			}
			&:after {
				font-family: 'icomoon';
				font-size: 6px;
				line-height: 1;
				position:absolute;
				top:48%;
				right: 2px;
				color: #c1af8b;
				transform: translate(-50%, -50%);
				content: "\e902";
			}
			.no-touch & {
				&:hover {
					color: #c1af8b;
				}
			}
		}
		&:hover {
			.contact-list-slide {
				display: block;
			}
		}
		&-slide {
			position:absolute;
			top:100%;
			left:0;
			width: 100%;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
			border-radius: 3px;
			background: #58607e;
			padding: 12px 9px 12px;
			z-index: 10;
			display: none;
			font-family: 'CenturyGothic', Arial, sans-serif;
			a {
				color: #fff;
				font-size: 18px;
				line-height: 1.2;
				display: block;
				text-decoration: none;
				position: relative;
				padding: 8px 0 8px 27px;
				&:before {
					font-family: 'icomoon';
					font-size: 16px;
					line-height: 1;
					position:absolute;
					top:48%;
					left: 5px;
					color: #c1af8b;
					transform: translate(0, -50%);
					content: "\e904";
				}
				.no-touch & {
					&:hover {
						color: #c1af8b;
					}
				}
			}
		}
	}
	&-email {
		display:inline-block;
		vertical-align:top;
		font-family: 'CenturyGothic', Arial, sans-serif;
		font-size: 16px;
		line-height: 1.2;
		position: relative;
		color: #fff;
		padding: 1px 0 1px 36px;
		text-decoration: none;
		&:before {
			font-family: 'icomoon';
			font-size: 13px;
			line-height: 1;
			position:absolute;
			top:48%;
			left: 5px;
			color: #c1af8b;
			transform: translate(0, -50%);
			content: "\e90d";
		}
		.no-touch & {
			&:hover {
				color: #c1af8b;
			}
		}
	}
}