jdiv {
    .globalClass_ET {
        .label_39._bottom_3v {
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            .text_eD {
                margin: 0 80px 0 16px;
            }
        }
        .leafCont_2L {
            display: none;
        }
        .copy_2W {
            padding-right: 15px;
        }
        .label_39._bottom_3v._pad100_GR {
            height: 35px;
            right: 98px;
        }

        @media (max-width: 767px) {
            display: none;
        }
    }
}