.landscaping {
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	&-item {
		display: flex;
		align-items: center;
		width: 33.33%;
		padding: 20px 15px;

		p {
			padding-left: 20px;
			margin: 0;
		}
	}

	@media (max-width: 767px) {
		display: block;

		&-item {
			max-width: 280px;
			width: 100%;
			margin: 0 auto;
		}
	}

	@media (min-width: 576px) {
		padding: 0 15px;
	}
}